.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 200px;
}

.productHighlightText {
  background: #385DAE;
  border-radius: 0px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Lato-Bold';
}
